body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'pie-clearfix'.\A         on line 2 of /Users/knguyen/Sites/omeka/themes/seasons/sass/media/screen_768.scss, in `pie-clearfix'\A         from line 2 of /Users/knguyen/Sites/omeka/themes/seasons/sass/media/screen_768.scss\A \A 1: /Users/knguyen/Sites/omeka/themes/seasons/sass/media/screen_768.scss"; }
